<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userlogin</title>
</head>
<body>
<center>
    <h3>淮安一建考试页面</h3>
    <div >
        <form action="/huan_an/exam/form" method="post" class="left">
        用户名: <input type="text" name="userName"><br>
        用户密码: <input types="password" name="password"> <br>
        年份: <input type="password" name="password"> <br>
        <input type="submit" name="submit" value="登录">
        </form>
    </div>
</center>
</body>
</html>

<style>
    /*左对齐*/
.left {
        /* text-align: left; */
        /* border: 1px dotted black; */
        width: 50%;
}
.left input {
    margin: 10px 10px;
}
/*右对齐*/
.right {
        text-align: right;
        border: 1px dotted black;
        width: 50%;
}
/*居中对齐*/
.center {
        text-align: center;
        border: 1px dotted black;
        width: 50%;
}
/*两端对齐*/
.justify {
        text-align: justify;
        border: 1px dotted black;
        width: 50%;
}
</style>